html{
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

section{
  height: 100vh;
  scroll-snap-align: center;
  padding-top: 80px;
}
